<!--페이지 속도를 높이기 위해 css와 js파일 분리-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--부트스트랩은 제이쿼리에 의존하기 때문에 제이쿼리 뒤에 부트스트랩을 호출하도록 함.-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>